@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

#title{
    font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
}
#coubtn{
  background: black;
}
#coubtn &:hover{
  background: white;
  color: black;
}
.hover-underline::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
  position: relative;
  top: 2px;
  /* Adjust this to align the underline */
}

.hover-underline:hover::after {
  width: 100%;
  animation: slideIn 0.3s forwards;
}