@keyframes float {
    0%, 100% {
        transform: translateY(-70px);
    }
    50% {
        transform: translateY(-60px);
    }
}
.animate-float {
    animation: float 2s ease-in-out infinite;
}
.animat {
    animation: float 2s ease-in-out infinite;
}